In [1]:
!pip install boto3
!pip install redshift_connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.113-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 4.3 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.113
  Downloading botocore-1.29.113-py3-none-any.whl (10.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 53.5 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 10.7 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.113->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.113->boto3) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.113->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.113 botocore-1.29.113 jmespath-1.0.1 s3transfer-0.6.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redshift_connector
  Downloading redshift_connector-2.0.910-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.1/112.1 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (2.27.1)
Requirement already satisfied: lxml>=4.6.5 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (23.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (2022.7.1)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (1.26.113)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (67.6.1)
Collecting scramp<1.5.0,>=1.2.0
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (4.11.2)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (1.29.113)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.9/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.12)
Collecting asn1crypto>=1.5.1
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 14.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Installing collected packages: asn1crypto, scramp, redshift_connector
Successfully installed asn1crypto-1.5.1 redshift_connector-2.0.910 scramp-1.4.4

In [2]:
import boto3
import pandas as pd
from io import StringIO

In [3]:
import time
import redshift_connector

In [4]:
AWS_ACCESS_KEY = "AKIATGPZ4XQ3QDJDXBLD"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid19-data"
S3_STAGING_DIR = "s3://de-cw-athena-output/output/"
S3_BUCKET_NAME = "de-cw-athena-output"
S3_OUTPUT_DIRECTORY = "output"

In [63]:
# connect to athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [6]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,

    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [64]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
enigma_jhud = download_and_load_query_results(athena_client, response)
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Missouri,US,2020-03-16T17:13:23,38.456,-92.288,6.0,0.0,0.0,NaN,"""Missouri",csv
1,NaN,NaN,Channel Islands,United Kingdom,2020-03-16T14:38:45,49.372,-2.364,6.0,0.0,0.0,NaN,"""Channel Islands",csv
2,NaN,NaN,NaN,Uzbekistan,2020-03-16T14:38:45,41.377,64.585,6.0,0.0,0.0,NaN,Uzbekistan,csv
3,NaN,NaN,Nova Scotia,Canada,2020-03-16T17:53:03,44.682,-63.744,5.0,0.0,0.0,NaN,"""Nova Scotia",csv
4,NaN,NaN,NaN,Ethiopia,2020-03-16T14:38:45,9.145,40.490,5.0,0.0,0.0,NaN,Ethiopia,csv

In [65]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_dailystates_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
covid_19_testing_data_states_daily = download_and_load_query_results(
    athena_client, response)
covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210220,UT,366034,NaN,1507875.0,NaN,totalTestsViral,2788882,260.0,14421.0,...,NaN,8.0,39.0,70f3e22ea3d10f99d5f3c09c55ba95fa1b8aaabb,0.0,0.0,0.0,0.0,0.0,NaN
1,20210220,VA,561812,117662.0,NaN,195.0,totalTestEncountersViral,5728208,1594.0,23436.0,...,NaN,99.0,67.0,75d813bab6075e36b3ed1d3bbbfe18f6692e3959,0.0,0.0,0.0,0.0,0.0,NaN
2,20210220,VI,2575,NaN,43564.0,108.0,posNeg,46139,NaN,NaN,...,NaN,0.0,0.0,7ca160663de572688bb23d17943b6f59863f5fd0,0.0,0.0,0.0,0.0,0.0,NaN
3,20210220,VT,14359,411.0,309335.0,NaN,totalTestsViral,1009285,39.0,NaN,...,NaN,3.0,0.0,5156647b94cb2e59c9e4e26be1943e4827a99f13,0.0,0.0,0.0,0.0,0.0,NaN
4,20210220,WA,332904,17485.0,NaN,NaN,totalTestEncountersViral,5048054,608.0,18969.0,...,NaN,19.0,35.0,8150e925fc2fb429eeb347109e52f7b99ba00f17,0.0,0.0,0.0,0.0,0.0,NaN

In [66]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
covid_19_testing_data_us_daily = download_and_load_query_results(
    athena_client, response)
covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [67]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytime_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
nytimes_data_in_usa_us_county = download_and_load_query_results(
    athena_client, response)
nytimes_data_in_usa_us_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [68]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usaus_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
nytimes_data_in_usa_us_states = download_and_load_query_results(
    athena_client, response)
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [69]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_country_codecountrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
static_datasets_countrycode = download_and_load_query_results(
    athena_client, response)
static_datasets_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [70]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_country_populationcountypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
static_datasets_countypopulation = download_and_load_query_results(
    athena_client, response)
static_datasets_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [71]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds_rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
response
usa_hospital_beds = download_and_load_query_results(athena_client, response)
usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1846,Ascension Standish Hospital (FKA Ascension St ...,Critical Access Hospital,805 W Cedar St,NaN,Standish,MI,48658,Arenac,Michigan,...,25.0,25.0,5,5,0.0,0.151366,2.0,0,43.981945,-83.968804
1,1847,Spectrum Health Pennock,Critical Access Hospital,1009 W Green St,NaN,Hastings,MI,49058,Barry,Michigan,...,25.0,25.0,6,6,0.0,0.523186,2.0,0,42.644680,-85.302796
2,1848,McLaren Bay Region (FKA Bay Regional Medical C...,Short Term Acute Care Hospital,1900 Columbus Ave,NaN,Bay City,MI,48708,Bay,Michigan,...,356.0,291.0,32,32,0.0,0.620024,8.0,65,43.588712,-83.868181
3,1849,Munson Healthcare Paul Oliver Memorial Hospital,Critical Access Hospital,224 Park Ave,NaN,Frankfort,MI,49635,Benzie,Michigan,...,8.0,8.0,1,1,0.0,0.019126,0.0,0,44.636512,-86.242417
4,1850,Lakeland Medical Center,Short Term Acute Care Hospital,1234 Napier Ave,NaN,Saint Joseph,MI,49085,Berrien,Michigan,...,215.0,196.0,20,20,0.0,0.492822,13.0,19,42.088570,-86.478295

In [72]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_state_abv_state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)
static_datasets_state_abv_state_abv = download_and_load_query_results(
    athena_client, response)

static_datasets_state_abv_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [73]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

us_total_latest = download_and_load_query_results(athena_client, response)
us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [74]:
# grab the first role of the ender
new_header = static_datasets_state_abv_state_abv.iloc[0] 
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [75]:
# takes the data below the data header row
static_datasets_state_abv_state_abv = static_datasets_state_abv_state_abv[1:]
static_datasets_state_abv_state_abv.head()

         col0 col1
1     Alabama   AL
2      Alaska   AK
3     Arizona   AZ
4    Arkansas   AR
5  California   CA

In [76]:
# Set the header row as the df header.
static_datasets_state_abv_state_abv.columns = new_header

In [77]:
static_datasets_state_abv_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [78]:
factCovid_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = covid_19_testing_data_states_daily[[
    'fips', 'date', 'positive', 'negative', 'hospitalized', 'hospitalizedcurrently', 'hospitalizeddischarged']]

factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [79]:
factCovid.head()
factCovid.shape

(27992, 13)

In [80]:
dimRegion_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'latitude', 'longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [81]:
dimHospital = usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude',
                                 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]

In [82]:
dimDate = covid_19_testing_data_states_daily[['fips', 'date']]
dimDate.head()

   fips      date
0  49.0  20210220
1  51.0  20210220
2  78.0  20210220
3  50.0  20210220
4  53.0  20210220

In [83]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

dimDate.head()

<ipython-input-83-a0e79f9d826f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

   fips       date
0  49.0 2021-02-20
1  51.0 2021-02-20
2  78.0 2021-02-20
3  50.0 2021-02-20
4  53.0 2021-02-20

In [84]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

dimDate.head()

<ipython-input-84-52a6728b7e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
<ipython-input-84-52a6728b7e6c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
<ipython-input-84-52a6728b7e6c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0  49.0 2021-02-20  2021      2            5
1  51.0 2021-02-20  2021      2            5
2  78.0 2021-02-20  2021      2            5
3  50.0 2021-02-20  2021      2            5
4  53.0 2021-02-20  2021      2            5

In [85]:
bucket = 'de-cw-raw-data'  # already created on s3

In [86]:
# Store the dimentional model data into s3
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'QP172F6ZMCQBP1Q1',
  'HostId': '55otGltatEfORL+J0Pt5fPFHnTmPwTXA4/YDiTutGZCitg4A8a99qlonBx0e10jYKhLLyoGw7C6vV1Cqa1hDNXkMDfSnxz8uHI22urXRmdQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '55otGltatEfORL+J0Pt5fPFHnTmPwTXA4/YDiTutGZCitg4A8a99qlonBx0e10jYKhLLyoGw7C6vV1Cqa1hDNXkMDfSnxz8uHI22urXRmdQ=',
   'x-amz-request-id': 'QP172F6ZMCQBP1Q1',
   'date': 'Fri, 14 Apr 2023 07:20:54 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9a08ab55fd775c4a357427190348d587"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9a08ab55fd775c4a357427190348d587"',
 'ServerSideEncryption': 'AES256'}

In [ ]:
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

In [87]:
csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '0RDA7Y98B1RYPEQX',
  'HostId': 'A9CLmGD3F6l7mJ/8b4vWAmGTfYkH7slItgfNuY9jv+3w1TfFuPGDMA2jKd6jITKMP4EmSIvmkGA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'A9CLmGD3F6l7mJ/8b4vWAmGTfYkH7slItgfNuY9jv+3w1TfFuPGDMA2jKd6jITKMP4EmSIvmkGA=',
   'x-amz-request-id': '0RDA7Y98B1RYPEQX',
   'date': 'Fri, 14 Apr 2023 07:21:01 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"d9b52a57c855138f170fcf61aaf930a8"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"d9b52a57c855138f170fcf61aaf930a8"',
 'ServerSideEncryption': 'AES256'}

In [88]:
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'QFNTDYADWYA0RN61',
  'HostId': 'NS8yxuzmqqtjPh2MzVbbLIafNkAnESbu9ULtib/RbpAp7Z1JIBLoIwh9+cBSMjUqrD1HBURy4lc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'NS8yxuzmqqtjPh2MzVbbLIafNkAnESbu9ULtib/RbpAp7Z1JIBLoIwh9+cBSMjUqrD1HBURy4lc=',
   'x-amz-request-id': 'QFNTDYADWYA0RN61',
   'date': 'Fri, 14 Apr 2023 07:21:04 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"7b3d52e67a071cbd60e9256599c85f7b"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"7b3d52e67a071cbd60e9256599c85f7b"',
 'ServerSideEncryption': 'AES256'}

In [89]:
# Extract the schema
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [90]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalized" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalizeddischarged" REAL
)

In [91]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [94]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)